# 이 파일을 config/.env로 복사한 뒤 실제 값을 입력하세요.

PGHOST=127.0.0.1
PGPORT=5432

# 기본 관리자 권한 데이터베이스
PGADMINDATABASE=postgres

# 고용24 채용 품질 파이프라인 실습 전용 데이터베이스
PGDATABASE=work24_recruit_database

PGUSER=postgres
PGPASSWORD=

# 고용24 채용 품질 분석 전용 스키마
PGSCHEMA=work24_recruit_schema

SQLALCHEMY_ECHO=false

# 해당 값 설정 부탁드립니다(영문명 넣으면 됨.)
PGAUTHOR=choiminjeong